
.container2  {
    width: 90vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 5%;
    
}
/*UTIL*/

/*Dropdown*/
.drpdwn {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.drpdwn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.drpdwn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}



.txtbox {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
}

.txtbox:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.txtbox[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}





.txtarea {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 45rem;
    height: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
    resize: none;
}

.txtarea:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.txtarea[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.frm{
position: relative;

}